body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

fieldset {
  /*padding: 1em;*/
  font:10px Trebuchet MS, Arial, Helvetica, sans-serif;
  color:Black;
  border:1px solid #DEDEDE;
}
.context_table{
    border:#222 solid 1px;
    -moz-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-border-radius:5px;
}
.cab_context{
    background-color:#222;
    color:White;
    text-align:left;
    font-weight:bold;
    font-size:15px;
    padding-left:5px;
}
.cuerpo_context{
    height: 100%;width: 100%; background-image:url('../img/fondo_context.png');
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
